body {
    font-family: Arial, sans-serif;
    background-image: url('fondo.jpg');
    background-size: cover; /* Esto ajustará la imagen para cubrir todo el elemento */
    background-repeat: no-repeat; /* Esto evita que la imagen se repita */
}

h1{
    text-align: center;
    margin-bottom: 50px;
    color : #000000;
}

h2{
    text-align: left;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #babdc938;
    margin-top: 50px;
    margin-bottom: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 10px;
    text-align: left;
}


.personal-info {
    text-align: left;
    margin-top: -225px;
    margin-left: 250px;
    color: #ffffff;
}
a{
    color: #ffffff;
}

.contacto {
    text-align: left;
    margin-top: 150px;
}

.photo {
    text-align: left;
    background-color: #1a4f8cb0;
    margin-top: 50px;
}

.photo img {
    max-width: 200px;
    max-height: 200px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.estudios{
    text-align: left;
    margin-top: 100px;
}
