<!DOCTYPE html>
<html>
<head>
    <title>Mi Curriculum</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
    <link rel="icon" href="{{ url_for('static', filename='icono.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Curriculum Vitae</h1>
        <!-- Datos Personales -->
        <div class="photo">
            <img src="{{ url_for('static', filename='fotoprof.jpg') }}" alt="Tu Foto"> 
        </div>
        <div class="personal-info"> 
            <p>Nombre: Teresa Celeste Rodas Castillo</p>
            <p>Fecha de Nacimiento: 16 de Marzo de 2002</p>
            <p>Email: teresacelesterodascastillo@gmail.com</p>
            <p>Teléfono: +52 5532-2542</p>
            <p>Dirección: 7a Avenida 17-60 Boulevard Norte, Ciudad San Cristóbal Zona 9 de Mixco, Guatemala</p>
            <p><a href="https://github.com/Rodas02">Link Ejemplos de Proyectos</a></p>
        </div>
        
        

        <!-- Tabla de Nivel de Estudios -->
        <div class="estudios">
            <h2>Nivel de Estudios</h2>
            <table>
                <tr>
                    <th>Grado</th>
                    <th>Institución</th>
                    <th>Año de Graduación</th>
                </tr>
                <tr>
                    <td>Bachillerato</td>
                    <td>IMB-PC</td>
                    <td>2019</td>
                </tr>
                <tr>
                    <td>Universidad</td>
                    <td>Universidad de San Carlos de Guatemala</td>
                    <td>Estudiando actualmente la carrera de Ingeniería en Ciencias y Sistemas</td>
                </tr>
            </table>
        </div>
        
        <!-- Tabla de Habilidades -->
        <h2>Habilidades</h2>
        <table>
            <tr>
                <th>Habilidad</th>
                <th>Nivel</th>
            </tr>
            <tr>
                <td>Programación</td>
                <td>Intermedio</td>
            </tr>
            <tr>
                <td>Diseño Web</td>
                <td>Intermedio</td>
            </tr>
            <tr>
                <td>Microsoft Office</td>
                <td>Avanzado</td>
            </tr>
            <tr>
                <td>Idiomas</td>
                <td>Inglés (Intermedio), Español (Nativo)</td>
            </tr>
        </table>
        
        <!-- Lista de Intereses y Hobbies -->
        <h2>Intereses y Hobbies</h2>
        <ul>
            <li>Leer libros</li>
            <li>Streaming</li>
            <li>Programar proyectos personales</li>
            <li>Escuchar música</li>
            <li>Ver películas</li>
            <li>Fotografía a paisajes y personas</li>
            <li>Idiomas en general</li>
        </ul>

    </div>
</body>
</html>